@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,700,700i,900,900i');

$break-small: 768px;
$break-medium: 992px;
$text-light: #ffffff;
// $text-dark: #595959;
$text-dark: #013855;
$gulp-green: #2AA608;
$white: #ffffff;
$blue: #00517C;
$dark-blue: #013855;
$grey: #6A6A6A;
$highlight-yellow: #fdffcc;
$error: #a7294b;
// $text-error: #a44941;
$highlight-error: #f0dfde;

@media (min-width: 1200px){
	.container {
		max-width: 960px;
	}
}


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 34px;

	@media (max-width: 960px) {
		font-size: 30px;
		line-height: 1.6;
	}

	@media (max-width: 576px) {
		font-size: 24px;
		line-height: 1.6;
	}
}


h1 {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
    font-weight: 300;
    margin-bottom: 0;
	font-size: 80px;
	
	@media (max-width: 576px) {
		font-size: 60px;
	}
}

h2 {
	font-family: 'Cabin', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
	font-size: 64px;
	margin-bottom: 40px;

	@media (max-width: 576px) {
		font-size: 50px;
	}
	
	&:after{
		content: "";
		width: 150px;
		height: 4px;
		background-color: $gulp-green;
		display: block;
		margin-top: 40px;

	}
}

a {
	text-decoration: none;
	border-bottom: 1px dashed $gulp-green;
	// padding-bottom: 2px;
	color: $dark-blue;

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid $gulp-green;
		background-color: $highlight-yellow;
	}

	&.navbar-brand {
		background-color: transparent;
		border-bottom: none;
		padding: 0;
	}
}

p {
    margin-bottom: 5rem;
}

strong {
	font-weight: 700;
}

section {
    background: $white;
    background: linear-gradient(#ffffff, #efefef);
    padding: 60px 0 100px 0;
}

footer {
	font-size: 14px;
	background-color: $dark-blue;
	color: $white;
	// font-weight: 100;

	p {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	span {
		font-weight: 400;
	}
}

.logo {
    width: 200px;
	height: auto;
	margin-left: -25px;
	
	@media (max-width: 576px) {
		width: 150px;
		margin-left: -15px;
	}

	&-footer {
		width: 100px;
		height: auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.navbar {
	padding: 0!important;
	position: absolute!important;
	top: 0;
	left: 0;
	right: 0;
}


.intro {
	padding-top: 250px;
	background-color: #333333;
	background-image: url(/img/gd-bg-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $white;
	min-height: 100vh;

	@media (max-width: 576px) {
		padding-top: 180px;
	}

	h1 {
		font-weight: 100;
		line-height: 1;
	}

	p {
		margin-top: 10px;
		font-size: 60px;
		font-weight: 100;
		line-height: 1.35;

		@media (max-width: 576px) {
			font-size: 40px;
		}
	}
}

.standout {
	font-weight: 700;
	font-family: 'Cabin', sans-serif;

	&--green {
		color: $gulp-green;
	}
}

.standout {
	font-weight: 700;
	font-family: 'Cabin', sans-serif;

	&--green {
		color: $gulp-green;
	}
}

.list {
	&--blocks {
		list-style: none;
		padding: 0;
		font-size: 20px;
		color: $white;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;

		li {
			padding: 20px;
			float: left;
			min-height: 400px;
		}

		h3 {
			font-size: 54px;
			font-weight: 900;
			font-style: italic;

			span {
				display: block;
				font-weight: 100;
			}
		}

		p {
			margin-bottom: 2em;
		}
	}
	&--block-dark-blue {
		background-color: $dark-blue;
	}
	&--block-blue {
		background-color: $blue;
	}
	&--block-grey {
		background-color: $grey;
	}
	&--block-green {
		background-color: $gulp-green;
	}

	&--icons {
		
		li {
			padding-left: 90px;
			margin-bottom: 40px;
			position: relative;
			min-height: 80px;
			padding-top: 10px;
			
			@media (max-width: 991px) {
				padding-top: 15px;
			}

			@media (max-width: 768px) {
				padding-top: 5px;
			}
		}
		h3 {
			font-size: 18px;
			font-weight: 300;
			
			@media (max-width: 991px) {
				font-size: 16px;
			}

			@media (max-width: 768px) {
				font-size: 22px;
			}
		}
	}

	&--icon {
		&-public-sector {
			&::before {
				// background: url(/icons/public-service.svg) no-repeat 10px -4px;
				content: url(/icons/public-sector.svg);
				display: block;
				width: 65px;
				height: auto;
				position: absolute;
				left: 12px;
				top: 0;
				opacity: 0.6;
			}
		}
		&-private-sector {
			&::before {
				content: url(/icons/private-sector.svg);
				display: block;
				width: 60px;
				height: auto;
				position: absolute;
				left: 12px;
				top: 5px;
				opacity: 0.6;
			}
		}
		&-nfp-sector {
			&::before {
				content: url(/icons/nfp-sector.svg);
				display: block;
				width: 65px;
				height: auto;
				position: absolute;
				left: 12px;
				top: 2px;
				opacity: 0.6;
			}
		}

	}

	&--team {
		font-size: 18px;

		li {
			margin-bottom: 40px;
		}
		h3 {
			font-size: 18px;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 0;
		}
		img {
			width: 100px;
			height: auto;
			float: left;
			margin-right: 15px;
			border-radius: 50%;
		}
	}
}

.line {
	&:after{
		content: "";
		width: 150px;
		height: 4px;
		background-color: $gulp-green;
		display: block;
		margin-top: 40px;

	}
}


// utils
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  }

  .hs-input[type=file] {
	  background-color: transparent;
  }
