<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <span>&copy;Copyright 2018 Gulp Digital Ltd</span> <br>
                    Company number : <span>07294521</span> <br>
                    Vat number : <span>192 2489 85</span> <br>
                    D-U-N-S Number : <span>21-678-4365</span>
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/gulp-logo-white.png" class="logo-footer">
            </div>
        </div>
    </div>
</footer>
<div class="overlay"></div>
<script type="text/javascript">
   $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $(this).blur();
                $(this).toggleClass('is-active');
                $('#sidebar').toggleClass('active');
                $('.overlay').toggleClass('active');
                // $('.collapse.in').toggleClass('in');
                // $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            $('.overlay').on('click', function () {
                $('#sidebarCollapse').removeClass('is-active');
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });
        });
</script>