<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <span>&copy;Copyright 2018 Gulp Digital Ltd</span> <br>
                    Company number : <span>07294521</span> <br>
                    Vat number : <span>192 2489 85</span> <br>
                    D-U-N-S Number : <span>21-678-4365</span>
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/gulp-logo-white.png" class="logo-footer">
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
   $(document).ready(function () {
            // $("#sidebar").mCustomScrollbar({
            //     theme: "minimal"
            // });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
</script>