$break-small: 768px;
$break-medium: 992px;
$text-light: #ffffff;
$text-dark: #595959;
$gulp-green: #2AA608;
$white: #ffffff;
$blue: #00517C;
$dark-blue: #013855;
$highlight-yellow: #fdffcc;
$error: #a7294b;
// $text-error: #a44941;
$highlight-error: #f0dfde;

$colors: (
	("gulp-green", $gulp-green, $text-light),
	("white", $white, $text-dark),
	("blue", $blue, $text-light),
	("dark-blue", $dark-blue, $text-light) 
);



* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight:300;
	margin: 0;

	@media only screen and (max-width: $break-small - 1) {
		font-size: 16px;
	}
}

h1 {
	font-size: 76px;
	font-weight: 300;
	font-style: italic;
	// padding-top: 100px;

	.standout {
		font-weight: 700;
		font-family: 'Cabin', sans-serif;
	}

	// .regular {
	// 	font-weight: 400;
	// }

	// .regular-italic {
	// 	font-weight: 400;
	// 	font-style: italic;
	// }

	.sub {
		font-size: 50px;
		display: block;

		@media only screen and (max-width: $break-medium - 1) {
			font-size: 40px;
			display: inline;
		}

		@media only screen and (max-width: $break-small - 1) {
			font-size: 30px;
			display: inline;
		}
	}

	@media only screen and (max-width: $break-medium - 1) {
		font-size: 56px;
	}

	@media only screen and (max-width: $break-small - 1) {
		font-size: 30px;
	}
}

h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: normal;
	font-size: 40px;
	position: relative;
	margin-bottom: 70px;

	&:after {
		content: "";
		width: 120px;
		height: 4px;
		background-color: $gulp-green;
		position: absolute;
		bottom: -30px;
		left: 0;
	}

	@media only screen and (max-width: $break-small - 1) {
		font-size: 30px;
	}
}

h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 22px;
	margin-bottom: 10px;

	@media only screen and (max-width: $break-small - 1) {
		font-size: 18px;
	}
}

a {
	text-decoration: none;
	border-bottom: 1px dashed $gulp-green;
	padding-bottom: 2px;

	&:hover {
		border-bottom: 1px solid $gulp-green;
		background-color: $highlight-yellow;
	}
}

p {
	margin-bottom: 30px;
}

h2, h3, p {
	@media only screen and (min-width: $break-medium) {
		width: 75%;
	}

	@media only screen and (max-width: $break-medium - 1) {
		width: 100%;
	}
}

ul {
	font-size: 16px;

	@media only screen and (max-width: $break-small - 1) {
		font-size: 14px;
	}
}

label.error{
	color: $text-light;
	padding: 10px;
	height: auto;
	background-color: $error;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -10px;
		left: 10px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $error;
	}

}

input.error, textarea.error {
	background-color: $highlight-error;
}

form {
	// display: inline-block;
	// overflow: hidden;
}

fieldset{
	border: none;
	margin: 0;
	padding: 0;
}

.input-field {
	border: none;
	// width: 50%;
	float: left;
	padding: 10px 60px 30px 0;
	margin: 0;
	width: 50%;
	overflow: hidden;

	&:nth-of-type(3n) {
		clear: left;
	}

	@media only screen and (max-width: $break-medium - 1) {
		padding-right: 30px;
	}

	@media only screen and (max-width: $break-small - 1) {
		width: 100%;
		padding-right: 0;
	}
}

label {
	width: 100%;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	height: 20px;
}

input[type=text], input[type=tel], input[type=number],input[type=email]  {
	border-radius: 0;
	width: 100%;
	height: 50px;
	border: 0;
	padding: 20px;
	font-size: 24px;
	color: $dark-blue;
	&:focus {
		// outline: $highlight-yellow auto 5px;
		// outline: none;
		// outline-offset: -4px;
		background-color: $highlight-yellow;
	}

}

textarea {
	border-radius: 0;
	width: 100%;
	height: 200px;
	border: 0;
	padding: 20px;
	font-size: 24px;
	color: $dark-blue;
	display: block;
	&:focus {
		// outline: $highlight-yellow auto 5px;
		// outline: none;
		// outline-offset: -4px;
		background-color: $highlight-yellow;
	}

}

button {
	height: 50px;
	padding: 0 20px;
	color: $white;
	background-color: $gulp-green;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	&:focus {
		outline: $highlight-yellow auto 5px;
		outline-offset: -3px;
	}

}

.budget-wrap {
	width: 30%;
	position: relative;

	@media only screen and (max-width: $break-small - 1) {
		width: 100%;
	}

	input {
		padding-left: 40px;
	}

	 label:first-child:before {
		content: "£";
		position: absolute;
		font-size: 28px;
		padding: 8px 0 0 20px;
		// text-align: center;
		top: 40px;
		left: 0;
		height: 50px;
		width: 40px;
		color: $dark-blue;
		overflow: visible;
		// background-color: #ccc;
		box-sizing: border-box;
		font-family: 'Cabin', sans-serif;
	}
}

.info-text-wrap {
	width: 75%;

	@media only screen and (max-width: $break-small - 1) {
		width: 100%;
	}
}

.col {
	width: 100%;

	&--full {
		width: 100%;
	}

	&--half {
		width: 50%;
	}

	&--three-quarters {
		width: 75%;
	}

	&--one-third {
		width: 33.3333337%;
	}

	&--two-thirds {
		width: 66.6666667%;
	}
}

.form-section-clear {
	width: 100%;
	clear: both;
	height: 0px;

	// @media only screen and (max-width: $break-small - 1) {
	// 	width: 100%;
	// 	height: 10px;
	// }
}

.hidden{
	display: none !important;
}

.section {
	margin: 0;
	padding: 60px 60px 100px 60px;
	width: 100%;
	overflow: hidden;

	@each $c in $colors {
		&--#{nth($c,1)} {
			@extend .section;
			background-color: #{nth($c,2)};
			color: #{nth($c,3)};

			a {
				color: #{nth($c,3)};
			}
		}
	}

	@media only screen and (max-width: $break-small - 1) {
			padding: 30px 20px 50px 20px;
		}
}

.content {
	
	&-wrap {
		margin: 0 auto;
		width: 980px;
		margin: 0 auto;

		@media only screen and (min-width: $break-medium) {
			width: 900px;
		}

		@media only screen and (max-width: $break-medium - 1) {
			width: 680px;
		}

		@media only screen and (max-width: $break-small - 1) {
			width: 100%;
		}
	}

	// &-block {
	// 	width: 100%;

	// 	@media only screen and (min-width: $break-medium) {
	// 		width: 70%;
	// 	}

	// 	@media only screen and (max-width: $break-medium - 1) {
	// 		width: 100%;
	// 	}
	// }
}

.nav-list {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0 0 0 0;
	font-family: 'Cabin', sans-serif;
	font-weight: normal;
	font-size: 19px;

	@media only screen and (max-width: $break-small - 1) {
		font-size: 19px;
	}

	li {
		float: left;
		display: inline-block;
		margin: 0 30px 30px 0;

		@media only screen and (max-width: $break-small - 1) {
			float: none;
			display: list-item;
		}
	}
}

.services-list {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0 0 0 0;

	&__item {
		width: 50%;
		float: left;
		overflow: hidden;
		background-size: 100px auto;
		padding-left: 120px;
		padding-right: 50px;
		padding-bottom: 40px;

		@media only screen and (max-width: $break-medium - 1) {
			width: 100%;
			padding-right: 100px;
		}

		@media only screen and (max-width: $break-small - 1) {
			width: 100%;
			background-size: 70px auto;
			padding-left: 80px;
			padding-right: 10px;
		}

		&--research {
			background-image:url(../img/research.png);
			background-repeat: no-repeat;
			background-position: 0 20px;
			@extend .services-list__item;
		}

		&--strategy {
			background-image:url(../img/strategy.png);
			background-repeat: no-repeat;
			background-position: 0 20px;
			@extend .services-list__item;
		}

		&--creative {
			background-image:url(../img/creative.png);
			background-repeat: no-repeat;
			background-position: 0 20px;
			@extend .services-list__item;
			clear: left;
		}

		&--technology {
			background-image:url(../img/technology.png);
			background-repeat: no-repeat;
			background-position: 0 20px;
			@extend .services-list__item;
		}
	}
}

.process-list {
	list-style: none;
	overflow: hidden;
	margin: 0 0 -100px 0;
	padding: 0 0 100px 0;
	position: relative;

	&:before {
		content: "";
		width: 1px;
		height: 120%;
		border-left: 4px dashed $gulp-green;
		position: absolute;
		left: 40px;
		top: 49px;
	}

	&__item {
		width: 60%;
		overflow: hidden;
		padding-left: 120px;
		padding-right: 50px;
		padding-bottom: 40px;
		position: relative;

		@media only screen and (max-width: $break-medium - 1) {
			width: 100%;
			padding-right: 100px;
		}

		@media only screen and (max-width: $break-small - 1) {
			width: 100%;
			padding-left: 80px;
			padding-right: 10px;
		}


		&:before {
			content: "";
			width: 60px;
			height: 60px;
			border: 4px solid $gulp-green;
			position: absolute;
			left: 7px;
			top: 4px;
			border-radius: 60px;
			background-color: white;

			@media only screen and (max-width: $break-small - 1) {
				width: 40px;
				height: 40px;
				left: 17px;
			}
		}
	}
}

.logo {
	width: 200px;
	height: auto;
	// margin-top: -60px;
    margin-left: -25px;
 	// margin-bottom: 40px;
	 position:absolute;
	 top: 0;
	 // z-index: 1005;

    @media only screen and (max-width: $break-small - 1) {
		// margin-top: -30px;
		// margin-left: 0px;
	}
}

.footer {
	background-color: $dark-blue;
	font-size: 12px;
	line-height: 1.4;
	color: $white;
	overflow: hidden;

	@media only screen and (max-width: $break-small - 1) {
		padding: 0 20px;
	}

	&-info {
		float: left;
	}

	&-logo{
		float: right;
		width: 100px;
		height: auto;
	}
}

section:first-of-type .content-wrap {
	margin-top: 120px;
	margin-bottom: 120px;
}

.who-we-are {
	.content-wrap {
		position: relative;

		@media only screen and (max-width: $break-medium - 1) {
			padding-bottom: 350px;
		}

		&:before {
			content: "";
			position: absolute;
			background-image: url(../img/super-g.png);
			background-repeat: no-repeat;
			background-size: 300px;
			width: 300px;
			height: 300px;
			top: 60px;
			right: -120px;

			@media only screen and (max-width: $break-medium - 1) {
				top: auto;
				bottom: 0;
				left: 0;
			}
		}
	}
}

.contact-us-form {
	display: none;
}



//utils
.bold {
	font-weight: 700;
}

.regular {
	font-weight: 400;
}

.regular-italic {
	font-weight: 400;
	font-style: italic;
}

.loading {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: $white;
}

.valign-parent {
	white-space: nowrap;
	text-align: center;
}

.valign-block {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	text-align: left;
}

.valign-helper {
	display: inline-block;
	vertical-align: middle;
	height:100%;
}

.flex-center {
	display: flex;
	align-items: center;
}

.padding-0 {
	padding: 0;
}




